body{
	background-color: #ecf0f1;
}
.inline{
	width: 49% !important;
	float: left !important;
	margin: 10px 2px;
}
.wrapper{
	width: 600px;
	height: 400px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.wrapper1{
	width: 300px;
	height: 400px;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.wrapper .logo{
	width: 100%;
	position: relative;
	text-align: center;
	margin-bottom: 20px;
}
.wrapper .logo img{
	width: 150px;
}
.wrapper h4{
	font-size: 20px;
	text-shadow: 1px 1px 15px rgba(236,240,241 ,0.8), -1px -1px 3px rgba(127,140,141 ,0.8);
	text-align: center;
}
.box{
	width: 300px;
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 30px 15px;
	box-shadow: 0px 0px 5px rgba(189,195,199 ,1);
	text-align: center;
}
.main{
	margin-top: 20px;
}
.model{
	width: 300px;
	height: auto;
	position: relative;
	top: -70%;
	left: 25%;
	background: #fff;
	padding: 10px;
	display: none;
	z-index: 1;
}
ul.star{
	margin-bottom: 0;
	padding-left: 0;
}
ul.star li{
	display: inline;
	cursor: pointer;
	color: #F89C0E;
}
/*.model:before{
	content: "";
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: -100%;
	left: -176%;
	background: rgba(0,0,0,0.5);
	z-index: -1;
	overflow: hidden;
}*/
.search input{
	width: 100%;
	position: relative;
	/*float: right;*/
}
#search-result{
	width: 100%;
	position: absolute;
	left: 0;
	/*top: 47%;*/
	padding: 8px;
	border: 1px solid #9e9e9e;
	z-index: 10;
	background: #fff;
	box-shadow: 0px 0px 5px #888888;
}
#search-result p{
	margin-bottom: 0 !important;
	cursor: pointer;
}
.hidden{
	display: none;
}
.selectBox{
	width: 50%;
	float: left;
}
.selectBox select{
	width: 40%;
	height: 30px;
	position: relative;
}
.pagination ul{
	margin-top: 10px;
}
.pagination ul li{
	display: inline-block;
}
.pagination ul li a{
	padding: 1px 6px;
	border: 1px solid #9e9e9e; 
}
.active{
	background-color: #2e2e2e;
	color: #fff;
}
.badge{
	cursor: pointer !important;
	padding: 5px 20px;
}
.badge-primary:hover{
	background: rgba(0, 123, 255, 0.8);
}
.badge-danger:hover{
	background: rgba(220, 53, 69, 0.8);
}
#table-content span{
	margin: 5px;
}
#table-content span i{
	margin-left: 8px;
	margin-right: -8px;
}